<div class="container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let persona"> {{persona.id}}</td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let persona"> {{persona.userName}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let persona">
                <button mat-raised-button color="basic" [routerLink]="['/editar',persona.id]"><mat-icon>edit</mat-icon> </button>
                <button mat-raised-button color="warn" (click)="eliminar(persona.id)"><mat-icon>delete</mat-icon> </button>
            </td>
        </ng-container>
        <!-- elementos necesarios para el mat-table de angular material-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

</div>